#
# Shaun's Basic Git Ignore
#

# Ignore Integrated Development Environment files
.vscode/
.databricks/

# Ignore venv folders
venv/
env/
*.venv
Pipfile.lock
.python-version

# Ignore log and database files
*.log
*.sqlite
*.sqlite3

# Ignore compiled files
*.pyc
#.pyo
__pycache__/
dist/
build/
*.egg-info/

# Ignore os and editor specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore temporary and backup files
*.swp
*~
*test*.py

# Ignore potential proprietary files
notebooks/GM_meetings/

# Ignore localstack's S3 storage emulation volume
volume/

# Ignore apache spark-py container folders
spark-logs/
spark-worker/
spark-data/

# Dont distribute environment variables w passwords
datascience_shell.env

