[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-sedona = "*"
bleach = "*"
boto3 = "*"
botocore = "*"
databricks-mosaic = "*"
fiona = "*"
geopandas = "*"
h3 = "*"
imageio = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
keplergl = "*"
llvmlite = "*"
matplotlib = "*"
matplotlib-inline = "*"
notebook = "*"
numba = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
pillow = "*"
pip = "*"
plotly = "*"
protobuf = "*"
mccabe = "*"
pyarrow = "*"
pycparser = "*"
pyflakes = "*"
pyodbc = "*"
pyparsing = "*"
pyproj = "*"
pywavelets = "*"
requests = "*"
requests-unixsocket = "*"
rope = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
shapely = "*"
send2trash = "*"
statsmodels = "*"
tenacity = "*"
tornado = "*"
urllib3 = "*"
ujson = "*"
wheel = "*"
zipp = "*"
torch = "*"
databricks-connect = "*"

[dev-packages]
localstack = "*"

[requires]
python_version = "3.10"
